ion-tabs.tabs-icon-top
  ion-tab(
    title='Dustbins'
    icon-off='ion-ios-trash-outline'
    icon-on='ion-ios-trash'
    href='#'
  )
    ion-nav-view(name='tab-dustbin')

  ion-tab(
    title='Toilets'
    icon-off='ion-woman'
    icon-on='ion-man'
    href='#'
  )
    ion-nav-view(name='tab-toilets')